<style>
  .custom-flex{
    display: flex !important;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
</style>
{% liquid
  assign eu_countries = 'AT,BE,BG,HR,CY,CZ,DK,EE,FI,FR,DE,GR,HU,IE,IT,LV,LT,LU,MT,NL,PL,PT,RO,SK,SI,ES,SE,NO'
  assign eu_countries = eu_countries | split: ','
%}

{% liquid
  assign is_preorder = false
  if product.metafields.custom.ca_preorder and localization.country.iso_code == 'CA'
    assign is_preorder = true
  elsif product.metafields.custom.us_preorder and localization.country.iso_code == 'US'
    assign is_preorder = true
  elsif product.metafields.custom.uk_preorder and localization.country.iso_code == 'GB'
    assign is_preorder = true
  elsif product.metafields.custom.au_preorder and localization.country.iso_code == 'AU'
    assign is_preorder = true
  elsif product.metafields.custom.eu_preorder and eu_countries contains localization.country.iso_code
    assign is_preorder = true
  elsif product.metafields.custom.nz_preorder and localization.country.iso_code == 'NZ'
    assign is_preorder = true
  endif
%}

<product-form class="product-form test55">
  {% assign min = 65 %}
  {% assign max = 80 %}
  {% assign diff = max | minus: min %}
  {% assign randomNumber = 'now' | date: '%N' | modulo: diff | plus: min %}
  {%- assign product_form_id = 'product-form-' | append: product.id | append: '-' | append: randomNumber -%}
  {% form 'product',
    product,
    data-productid: product.id,
    id: product_form_id,
    class: 'mt-4',
    data-product-form: '',
    data-product-id: product.id,
    data-type: 'add-to-cart-form',
    data-format: 'grid'
  %}
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    <div class="row">
      <div class="col-12 d-flex justify-content-between flex-column mt-4 mb-n3 d-none">
        {% unless product.has_only_default_variant %}
          <variant-radios
            class="no-js-hidden"
            data-section="{{ section.id }}"
            data-url="{{ product.url | within: collection }}"
            data-type="variant-radios"
          >
            {%- for option in product.options_with_values -%}
              <fieldset
                class="js product-form__input mb-0 {% if option.name == 'Color' or option.name == 'color' %}color-swatch{% endif %}"
                data-optionindex="{{ forloop.index }}"
              >
                <legend class="form__label fw-medium text-uppercase font-size-sm mb-2">
                  {{ option.name }}: <span class="selected-option">{{ option.selected_value }}</span>
                </legend>
                <ul class="list-unstyled d-flex m-n1 flex-wrap py-0">
                  {%- for value in option.values -%}
                    {%- capture swatchID -%}swatch-{{ product.id }}-grid-{{ option.name | handleize }}-{{ value | handleize }}{%- endcapture -%}
                    <li class="p-1">
                      <div class="swatch {% if option.name == 'Color' or option.name == 'color' %}color-swatch{% endif %}">
                        <input
                          type="radio"
                          class="form-control"
                          id="{{ swatchID }}"
                          name="{{ option.name }}"
                          value="{{ value | escape }}"
                          {% if current_variant == false %}
                            {%- if forloop.first %}checked{% endif -%}
                          {% else %}
                            {%- if option.selected_value == value %}checked{% endif -%}
                          {% endif %}
                          data-handle="{{ value | handle }}"
                        >
                        <label class="form-label swatch-label {{ value }}" for="{{ swatchID }}" title="{{ value }}">
                          {% unless option.name == 'Color' or option.name == 'color' %} {{ value }} {% endunless %}
                        </label>
                      </div>
                    </li>
                  {%- endfor -%}
                </ul>
              </fieldset>
            {%- endfor -%}
          </variant-radios>
        {% endunless %}

        <input type="hidden" name="quantity" value="1">
      </div>
    </div>
    {% comment %} DEFAULT HIDDEN OPTIONS SELECT {% endcomment %}
    {% comment %} DO NOT REMOVE THIS {% endcomment %}
    <noscript>
      <div class="row {% if product.has_only_default_variant %}d-none{% endif %}">
        <div class="col">
          <select name="id" data-productid="{{ product.id }}">
            {% for variant in product.variants %}
              <option
                data-sku="{{ variant.sku }}"
                data-product-id="{{ product.id }}"
                data-variant-id="{{ variant.id }}"
                value="{{ variant.id }}"
                {% if variant.available == false %}
                  disabled
                {% endif %}
              >
                {{ variant.title }}
                {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %} -
                {{ variant.price | money_with_currency }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
    </noscript>
    <div class="row">
      <div class="col-12 d-flex custom-flex">
        {% assign prefixes = 'us,uk,ca,au,eu,nz' | split: ',' %}
        {% comment %}
          {% if localization.country == "France" and product.metafields.unavailable.france == true %}
            <span class="not-available">Not Available In France</span>
          {% else %}
            <button class="data-submit-btn btn btn-card ls-sm position-lg-absolute start-0 bottom-0 p-0 trn border-bottom ms-auto ms-lg-0"
                type="submit"
                name="add"
                aria-label="{{ 'products.product.add_to_cart' | t | escape }}"
                {% unless current_variant.available %}disabled{% endunless %}
                {% for prefix in prefixes %}
                  {% assign key_preorder = prefix | append: '_preorder' %}
                  {% assign data_preorder = product.metafields.custom[key_preorder] %}
                  {% assign key_product_page_messaging = prefix | append: '_product_page_messaging' %}
                  {% assign data_product_page_messaging = product.metafields.custom[key_product_page_messaging] %}

                  {% assign key_coming_soon = prefix | append: '_add_coming_soon_tag' %}
                  {% assign data_coming_soon = product.metafields.custom[key_coming_soon] %}

                  data-{{ key_preorder }}="{{ data_preorder }}"
                  data-{{ key_product_page_messaging }}="{{ data_product_page_messaging }}"
                  data-{{ key_coming_soon }}="{{ data_coming_soon }}"
                  {% if localization.country == "France" and product.metafields.unavailable.france == true %}disabled="disabled"{% endif %}
                {% endfor %}
            >
        {% endcomment %}
        {% comment %} <span class="add-text">{%- if current_variant.available -%}<i class="fst-normal me-1">+</i>{{ 'products.product.add_to_cart' | t }}{%- else-%}{{ 'products.product.sold_out' | t }}{%- endif -%}</span> {% endcomment %}
        {% comment %}
          <span class="add-text">
                  {% if localization.country == "France" and product.metafields.unavailable.france == true %}
                    Not Available In France
                  {% else %}
                    {%- if current_variant.available -%}
                      <i class="fst-normal me-1">+</i>
                      {{ 'products.product.add_to_cart' | t }}
                    {%- else -%}
                      {{ 'products.product.sold_out' | t }}
                    {%- endif -%}
                  {% endif %}
                </span>
                <span class="spinner"></span>
            </button>
          {% endif %}
        {% endcomment %}
        <button
          class="addtocartbtn btn-add_to_cart btn btn-card p-0 mt-1 trn data-submit-btn {% if product.tags contains 'notify-me' %} manual-bis-trigger{% endif %} test980"
          type="submit"
          name="add"
          aria-label="{{ 'products.product.add_to_cart' | t | escape }}"

          id="klaviyo-data-handle-{{ product.handle }}"
          data-klaviyo-handle="{{ product.handle }}"
          data-prod_title="{{ product.title }}"
          data-prod_id="{{ product.id }}"
          data-var_id="{{ product.variants.first.id }}"

          {% unless current_variant.available or product.tags contains 'notify-me' %}
            disabled
          {% endunless %}
          {% for prefix in prefixes %}
            {% assign key_preorder = prefix | append: '_preorder' %}
            {% assign data_preorder = product.metafields.custom[key_preorder] %}
            {% assign key_product_page_messaging = prefix | append: '_product_page_messaging' %}
            {% assign data_product_page_messaging = product.metafields.custom[key_product_page_messaging] %}

            {% assign key_coming_soon = prefix | append: '_add_coming_soon_tag' %}
            {% assign data_coming_soon = product.metafields.custom[key_coming_soon] %}

            data-{{ key_preorder }}="{{ data_preorder }}"
            data-{{ key_product_page_messaging }}="{{ data_product_page_messaging }}"
            data-{{ key_coming_soon }}="{{ data_coming_soon }}"
          {% endfor %}
        >
          {% comment %} <span class="add-text">{%- if current_variant.available -%}<i class="fst-normal me-1">+</i>{{ 'products.product.add_to_cart' | t }}{%- else-%}{{ 'products.product.sold_out' | t }}{%- endif -%}</span> {% endcomment %}
          <span class="add-text">
            {%- if product.tags contains 'notify-me' -%}
              Notify Me
            {% elsif is_preorder %}
              PRE-ORDER
            {%- else -%}
              {%- if current_variant.available -%}
                <i class="fst-normal me-1">+</i>
                {{ 'products.product.add_to_cart' | t }}
              {%- else -%}
                {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            {%- endif -%}
          </span>
          <span class="spinner"></span>
        </button>

        {% comment %}
          {%- if settings.enable_quickshop -%}
              <a href="javascript:void(0);" rel="nofollow" class="btn btn-dark btn-sm ms-2 quickshop--button" data-handle="{{ product.handle }}" title="{{ 'products.product.quickshop' | t | escape }}" aria-label="{{ 'products.product.quickshop' | t | escape }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
                  <span class="icon-quickview font-size-lg"></span>
              </a>
          {%- endif -%}
        {% endcomment %}
      </div>
    </div>
    <script class="variantsJSON-{{ product.id }}" data-variantJSON type="application/json">
      {{ product.variants | json }}
    </script>
  {% endform %}
</product-form>
