{% comment %} 
    Format: [COUNTRY_CODE] | [TAXE_PERCENTAGE]
{% endcomment %}

{% capture tax_data %}
    NZ|{{ settings.tax_rate_NZ }},
    AU|{{ settings.tax_rate_AU }},
    AD|{{ settings.tax_rate_AD }},
    SZ|{{ settings.tax_rate_SZ }},
    LI|{{ settings.tax_rate_LI }},
    LU|{{ settings.tax_rate_LU }},
    BA|{{ settings.tax_rate_BA }},
    MT|{{ settings.tax_rate_MT }},
    XK|{{ settings.tax_rate_XK }},
    DE|{{ settings.tax_rate_DE }},
    CY|{{ settings.tax_rate_CY }},
    AL|{{ settings.tax_rate_AL }},
    AT|{{ settings.tax_rate_AT }},
    BY|{{ settings.tax_rate_BY }},
    BG|{{ settings.tax_rate_BG }},
    FR|{{ settings.tax_rate_FR }},
    EE|{{ settings.tax_rate_EE }},
    GB|{{ settings.tax_rate_GB }},
    TR|{{ settings.tax_rate_TR }},
    SK|{{ settings.tax_rate_SK }},
    RS|{{ settings.tax_rate_RS }},
    RU|{{ settings.tax_rate_RU }},
    MC|{{ settings.tax_rate_MC }},
    MD|{{ settings.tax_rate_MD }},
    ES|{{ settings.tax_rate_ES }},
    NL|{{ settings.tax_rate_NL }},
    ME|{{ settings.tax_rate_ME }},
    LT|{{ settings.tax_rate_LT }},
    LV|{{ settings.tax_rate_LV }},
    BE|{{ settings.tax_rate_BE }},
    SI|{{ settings.tax_rate_SI }},
    IT|{{ settings.tax_rate_IT }},
    PT|{{ settings.tax_rate_PT }},
    PL|{{ settings.tax_rate_PL }},
    IE|{{ settings.tax_rate_IE }},
    IS|{{ settings.tax_rate_IS }},
    GR|{{ settings.tax_rate_GR }},
    FI|{{ settings.tax_rate_FI }},
    SE|{{ settings.tax_rate_SE }},
    NO|{{ settings.tax_rate_NO }},
    DK|{{ settings.tax_rate_DK }},
    HR|{{ settings.tax_rate_HR }},
    HU|{{ settings.tax_rate_HU }},
    CH|{{ settings.tax_rate_CH }}
{% endcapture %}

{% assign no_price_display_countries = "US,CA" | split: "," %}

{% assign tax_rules = tax_data | split: ',' %}
{% assign customer_country = localization.country.iso_code %}

{% for rule in tax_rules %}
    {% assign clean_rule = rule | strip_newlines | strip %}
    {% assign details = clean_rule | split: '|' %}
    {% if details[0] == customer_country %}
        {% assign tax_rate = details[1] %}
    {% endif %}
{% endfor %}

{% if price %}
    {% assign product_price = price %}
{% elsif is_cart %}
    {% assign product_price = product.final_line_price %}
{% else %}
    {% assign product_price = product.price %}
{% endif %}

{% if is_cart %}
    {% assign product_compare_at_price = product.original_price %}
{% else %}
    {% assign product_compare_at_price = product.compare_at_price %}
{% endif %}
{% assign tax_amount = product_price | times: tax_rate %}
{% assign compare_tax_amount = product_compare_at_price | times: tax_rate %}

{% if tax_rate %}
    {% assign final_price = product_price | plus: tax_amount %}
    {% assign final_compare_at_price = product_compare_at_price | plus: compare_tax_amount %}
    {% assign price_display = "Incl. Tax" %}
{% elsif no_price_display_countries contains customer_country %}
    {% assign final_price = product_price %}
    {% assign final_compare_at_price = product_compare_at_price %}
    {% assign price_display = blank %}
{% else %}
    {% assign final_price = product_price %}
    {% assign final_compare_at_price = product_compare_at_price %}
    {% assign price_display = "Excl. Tax" %}
{% endif %}

{% if product_compare_at_price > product_price %}
    {% assign on_sale = true %}
{% else %}
    {% assign on_sale = false %}
{% endif %}



<span class="price-with-taxes">
    {% if on_sale %}
        <span class="price__value compare-at-price" data-comparePrice>{{ final_compare_at_price | money }}</span>
    {% endif %}
    {% if customer_country == "LU" %}
        <span class="price__tax--included">
            <span class="price__value {% if on_sale %}price--sale{% else %}price--normal{% endif %}" data-currentPrice>
                {{ final_price | money }}
            </span> 
            <span class="price__tax">Incl. Tax</span>
        </span>

        <span class="price__tax--excluded">
            <span class="price__value {% if on_sale %}price--sale{% else %}price--normal{% endif %}" data-currentPrice>
                {{ product_price | money }}
            </span> 
            <span class="price__tax">Excl. Tax</span>
        </span>
    {% else %}
    <span class="{% if price_display == "Incl. Tax" %}price__tax--included{% elsif price_display == "Excl. Tax" %}price__tax--excluded{% else %}price__tax--no-display{% endif %}">
        <span class="price__value {% if on_sale %}price--sale{% else %}price--normal{% endif %}" data-currentPrice>
            {{ final_price | money }}
        </span> 
        {% if price_display != blank %}
            <span class="price__tax">{{ price_display }}</span>
        {% endif %}
    </span>
    {% endif %}
</span>