{% comment %} 
    Format: [COUNTRY_CODE] | [TAXE_PERCENTAGE]
{% endcomment %}

{% capture tax_data %}
    NZ|{{ settings.tax_rate_NZ | default: 0.15 }},
    AU|{{ settings.tax_rate_AU | default: 0.10 }},
    AD|{{ settings.tax_rate_AD | default: 0.045 }},
    SZ|{{ settings.tax_rate_SZ | default: 0.077 }},
    LI|{{ settings.tax_rate_LI | default: 0.077 }},
    LU|{{ settings.tax_rate_LU | default: 0.16 }},
    BA|{{ settings.tax_rate_BA | default: 0.17 }},
    MT|{{ settings.tax_rate_MT | default: 0.18 }},
    XK|{{ settings.tax_rate_XK | default: 0.18 }},
    DE|{{ settings.tax_rate_DE | default: 0.19 }},
    CY|{{ settings.tax_rate_CY | default: 0.19 }},
    AL|{{ settings.tax_rate_AL | default: 0.21 }},
    AT|{{ settings.tax_rate_AT | default: 0.21 }},
    BY|{{ settings.tax_rate_BY | default: 0.21 }},
    BG|{{ settings.tax_rate_BG | default: 0.21 }},
    FR|{{ settings.tax_rate_FR | default: 0.21 }},
    EE|{{ settings.tax_rate_EE | default: 0.21 }},
    GB|{{ settings.tax_rate_GB | default: 0.21 }},
    TR|{{ settings.tax_rate_TR | default: 0.21 }},
    SK|{{ settings.tax_rate_SK | default: 0.21 }},
    RS|{{ settings.tax_rate_RS | default: 0.21 }},
    RU|{{ settings.tax_rate_RU | default: 0.21 }},
    MC|{{ settings.tax_rate_MC | default: 0.21 }},
    MD|{{ settings.tax_rate_MD | default: 0.21 }},
    ES|{{ settings.tax_rate_ES | default: 0.21 }},
    NL|{{ settings.tax_rate_NL | default: 0.21 }},
    ME|{{ settings.tax_rate_ME | default: 0.21 }},
    LT|{{ settings.tax_rate_LT | default: 0.21 }},
    LV|{{ settings.tax_rate_LV | default: 0.21 }},
    BE|{{ settings.tax_rate_BE | default: 0.21 }},
    SI|{{ settings.tax_rate_SI | default: 0.22 }},
    IT|{{ settings.tax_rate_IT | default: 0.22 }},
    PT|{{ settings.tax_rate_PT | default: 0.23 }},
    PL|{{ settings.tax_rate_PL | default: 0.23 }},
    IE|{{ settings.tax_rate_IE | default: 0.23 }},
    IS|{{ settings.tax_rate_IS | default: 0.24 }},
    GR|{{ settings.tax_rate_GR | default: 0.24 }},
    FI|{{ settings.tax_rate_FI | default: 0.24 }},
    SE|{{ settings.tax_rate_SE | default: 0.25 }},
    NO|{{ settings.tax_rate_NO | default: 0.25 }},
    DK|{{ settings.tax_rate_DK | default: 0.25 }},
    HR|{{ settings.tax_rate_HR | default: 0.25 }},
    HU|{{ settings.tax_rate_HU | default: 0.27 }},
    CH|{{ settings.tax_rate_CH | default: 0.081 }}

{% assign no_price_display_countries = "US,CA" | split: "," %}

{% assign tax_rules = tax_data | split: ',' %}
{% assign customer_country = localization.country.iso_code %}

{% for rule in tax_rules %}
    {% assign clean_rule = rule | strip_newlines | strip %}
    {% assign details = clean_rule | split: '|' %}
    {% if details[0] == customer_country %}
        {% assign tax_rate = details[1] %}
    {% endif %}
{% endfor %}

{% if price %}
    {% assign product_price = price %}
{% elsif is_cart %}
    {% assign product_price = product.final_line_price %}
{% else %}
    {% assign product_price = product.price %}
{% endif %}

{% if is_cart %}
    {% assign product_compare_at_price = product.original_price %}
{% else %}
    {% assign product_compare_at_price = product.compare_at_price %}
{% endif %}
{% assign tax_amount = product_price | times: tax_rate %}
{% assign compare_tax_amount = product_compare_at_price | times: tax_rate %}

{% if tax_rate %}
    {% assign final_price = product_price | plus: tax_amount %}
    {% assign final_compare_at_price = product_compare_at_price | plus: compare_tax_amount %}
    {% assign price_display = "Incl. Tax" %}
{% elsif no_price_display_countries contains customer_country %}
    {% assign final_price = product_price %}
    {% assign final_compare_at_price = product_compare_at_price %}
    {% assign price_display = blank %}
{% else %}
    {% assign final_price = product_price %}
    {% assign final_compare_at_price = product_compare_at_price %}
    {% assign price_display = "Excl. Tax" %}
{% endif %}

{% if product_compare_at_price > product_price %}
    {% assign on_sale = true %}
{% else %}
    {% assign on_sale = false %}
{% endif %}



<span class="price-with-taxes">
    {% if on_sale %}
        <span class="price__value compare-at-price" data-comparePrice>{{ final_compare_at_price | money }}</span>
    {% endif %}
    {% if customer_country == "LU" %}
        <span class="price__tax--included">
            <span class="price__value {% if on_sale %}price--sale{% else %}price--normal{% endif %}" data-currentPrice>
                {{ final_price | money }}
            </span> 
            <span class="price__tax">Incl. Tax</span>
        </span>

        <span class="price__tax--excluded">
            <span class="price__value {% if on_sale %}price--sale{% else %}price--normal{% endif %}" data-currentPrice>
                {{ product_price | money }}
            </span> 
            <span class="price__tax">Excl. Tax</span>
        </span>
    {% else %}
    <span class="{% if price_display == "Incl. Tax" %}price__tax--included{% elsif price_display == "Excl. Tax" %}price__tax--excluded{% else %}price__tax--no-display{% endif %}">
        <span class="price__value {% if on_sale %}price--sale{% else %}price--normal{% endif %}" data-currentPrice>
            {{ final_price | money }}
        </span> 
        {% if price_display != blank %}
            <span class="price__tax">{{ price_display }}</span>
        {% endif %}
    </span>
    {% endif %}
</span>