{{ 'section-before-after-tabs.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding before-after-tabs">
    <div class="before-after-tabs__inner">
        {% if section.settings.heading != blank %}
            <h3 class="before-after-tabs__heading container">{{ section.settings.heading  }}</h3>
        {% endif %}
        <div class="before-after-tabs__navigation container">
            {% for object in page.metafields.custom.before_after.value %}
                <div class="before-after-tabs__navigation-item{% if forloop.first %} current{% endif %}" data-category="{{ object.category | handleize }}">
                    {{ object.category }}
                </div>
            {% endfor %}
        </div>
        <div class="before-after-tabs__wrapper">
            {% for object in page.metafields.custom.before_after.value %}
                <div class="before-after-tabs__slider{% if forloop.first %} current{% endif %}" data-category="{{ object.category | handleize }}">
                    {% for image in object.images.value %}
                        <div class="before-after-tabs__image">
                            {{ image | image_url: width: 800 | image_tag: alt: object.category }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const navigationItems = document.querySelectorAll('.before-after-tabs__navigation-item');
        const sliders = document.querySelectorAll('.before-after-tabs__slider');

        navigationItems.forEach(item => {
            item.addEventListener('click', () => {
                const category = item.getAttribute('data-category');
                const currentSlider = document.querySelector(`.before-after-tabs__slider[data-category="${category}"]`);
                const currentNavItem = document.querySelector(`.before-after-tabs__navigation-item[data-category="${category}"]`);

                sliders.forEach(slider => {
                    slider.classList.remove('current');
                });
                navigationItems.forEach(navItem => {
                    navItem.classList.remove('current');
                });

                currentSlider.classList.add('current');
                currentNavItem.classList.add('current');
            });
        })
    })
</script>

{% schema %}
    {
        "name": "Before & After (Tabs)",
        "tag": "section",
        "class": "section-before-after-tabs",
        "settings": [
            {
                "type": "paragraph",
                "content": "This section is using the custom.before_after page metafield"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Before & Afters"
            },
            {
                "type": "header",
                "content": "Padding"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "Padding Top",
                "default": 36
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "Padding Bottom",
                "default": 36
            }
        ],
        "presets": [
            {
                "name": "Before & After (Tabs)"
            }
        ]
    }
{% endschema %}